
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About US</title>
</head>
<body>
    {% block body_block %}
<div class="hero-unit">
<h1>About Us</h1>
    <li><h2 style="color: aqua">Organization Profile...</h2></li>
    <p> DjangoGirls is an organization</br> that helps ladies to discover,</br> themselves as great coders</p>
<li><h3 style="color: aqua">Sponsors...</h3></li>
    <li><h4 style="color: aqua">Partners...</h4></li>
    <li><h5 style="color: aqua">Coach Profile...</h5></li>
    {% endblock %}

    </div>
</body>
</html>